* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #2C2F33;
  color: #FFF;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'Nunito';
    src: url('https://d35se641xpkbtu.cloudfront.net/84f8fe87-59d6-4f94-9910-f6388741e106/fonts/NunitoSans-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

.center{
  text-align: center;
}

.white{
  color: #fff;
}

/*Theme*/
.w3-theme-l5 {color:#000 !important; background-color:#f1f2f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d0d4d8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#a0a9b0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#727e88 !important}
.w3-theme-l1 {color:#fff !important; background-color:#4a5359 !important}
.w3-theme-d1 {color:#fff !important; background-color:#1f2326 !important}
.w3-theme-d2 {color:#fff !important; background-color:#1c1f21 !important}
.w3-theme-d3 {color:#fff !important; background-color:#181b1d !important}
.w3-theme-d4 {color:#fff !important; background-color:#151719 !important}
.w3-theme-d5 {color:#fff !important; background-color:#111315 !important}

.w3-theme-light {color:#000 !important; background-color:#f1f2f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#111315 !important}
.w3-theme-action {color:#fff !important; background-color:#111315 !important}

.w3-theme {color:#fff !important; background-color:#23272a !important}
.w3-text-theme {color:#23272a !important}
.w3-border-theme {border-color:#23272a !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#23272a !important}
.w3-hover-text-theme:hover {color:#23272a !important}
.w3-hover-border-theme:hover {border-color:#23272a !important}

.w3-right {
	font-size: 20px;
	padding: 10px;
}

.w3-threequarter{
  height: calc(100vh - 66px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.wrapper {
  min-height: calc(100% - 425px);
}

/*footer*/
.footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
  bottom: 0;
  left: 0;
  text-align: center;
  clear: both;
}

.container {
  min-height: 100%
}

.main {
  overflow: auto;
  padding-bottom: 50px;
}

.top{
  height: 66px;
}

.hide {
  display: none;
}
@media screen and (max-width: 775px) {
  .hide-medium {display: none;}
  .hide {display: block;}
}
