.title {
  display: table;
  height: 30vh;
  width: 100%;
  background-color: #000;
  font-size: 100px;
}

.title-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.page {
  display: flex;
  flex: warp;
  margin: 25px
}

.content {
  -webkit-flex: 1;
  flex: 1;
  padding-right: 10px;
}

/*sidebar*/

/*sidebar large*/
.sidebar {
    background-color: #111315;
    width: 200px;
    overflow-x: auto;
    align-self: flex-start;
}

.sidebar a {
  display: block;
  color: #FFF;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
}
/*sidebar small*/
.sidebar-small {
    background-color: #111315;
    width: 200px;
    overflow-x: auto;
    align-self: flex-start;
    display: none;
}

.sidebar-small a {
  display: block;
  color: #FFF;
  padding: 16px;
  text-decoration: none;
}

.sidebar-small a:hover {
  background-color: #555;
}

/*responsive*/
@media screen and (max-width: 775px) {
  .sidebar {display: none;}
  .sidebar-small {display: block;}
  .page {display: block;}
  .title {font-size: 70px;}
}
